.main-layout {
    height: 100%;
    width: 100%;

}

.store-container { 
    display: flex;
    height: 100%;
    width: 100%;
}

.sidebar {
    display: grid;
    padding-top:10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    gap: 1rem;
    background-color:aliceblue;
    height: 100%;
    width: 120px;
    justify-content: center;
    align-content: start;
}

.content-body {
    display: grid;
    grid-template-rows: 150px auto 1fr;
    height: 100%;
    width: 100%;
    justify-content: stretch; 
    align-content: start;
    flex:1;
}

.store-header {
    justify-content: center;
    width: 100%;
    height: 150px;
    padding: 1rem;
}

.store-content {
    background-color: #F7F7F7;
    /* inset x축 y축 blur spread 색상 */
    /* spread를 -10px로 주어 그림자 두께를 줄입니다 */
    box-shadow: inset 10px 0 20px -10px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    flex: 1;
    justify-content: stretch; 
}

.content-card {
    background-color: #FAFAFA;
    padding: 0.5rem;
}

.content-card > .content-card-horizen {
    display: flex;
}

.content-card > .content-card-vertical {
    display: grid;
}

.content-component {
    display: flex;
    width: 100%;
}

.component-list {
    display: grid;
    gap: 0.75rem;
    padding: 1rem;
    background-color: #FFFFFF;
}


.width-10 {
    width: 10%;
}
.width-20 {
    width: 20%;
}
.width-30 {
    width: 30%;
}
.width-40 {
    width: 40%;
}
.width-50 {
    width: 50%;
}
.width-60 {
    width: 60%;
}
.width-70 {
    width: 70%;
}
.width-80 {
    width: 80%;
}
.width-90 {
    width: 90%;
}
.width-100 {
    width: 100%;
}

.height-10 {
    height: 10%;
}
.height-20 {
    height: 20%;
}
.height-30 {
    height: 30%;
}
.height-40 {
    height: 40%;
}
.height-50 {
    height: 50%;
}
.height-60 {
    height: 60%;
}
.height-70 {
    height: 70%;
}
.height-80 {
    height: 80%;
}
.height-90 {
    height: 90%;
}
.height-100 {
    height: 100%;
}